:local(.blog-entry) {
  transform: translateZ(0);
  padding: 3em 1.5em 1em;
  background: #FFFA85;

  p:nth-child(1) {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 0;
  }
}

:local(.blog-entry-content) {
  margin-top: 1em;
}
