:local(.blog-entry) {
  transform: translateZ(0);
  // padding: 3em 1.5em 1em;
  // background: #FFFA85;
  // background: rgba(#B23A4B);

  p:nth-child(1) {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    color: rgba(#B23A4B);
  }
}

:local(.blog-entry-content) {
  margin-top: 1em;
}

:local(.blog-entry-date) {
  color: rgba(#B23A4B);
}
